#root {
  min-width: 100vw;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.about {
  width: 1400px;
  padding-left: 140px;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.topBar {
  margin-top: 100px;
  font-size: 3rem;
  font-family: 'Trebuchet MS';
  background-color: #658ED6;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.todoFormContainer {
  display: flex;
  justify-content: center;
  margin-top: 5vh;
}

.todoListContainer {
  display: flex;
  justify-content: center;
}



.todoForm {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 40vw;
}


.catPriorityDue {
  display: flex;
  gap: 2vw;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  height: 63px;
}

.submitTask {
  margin-top: .5vw;
  height: 63px;
  width: 15vw;
}

select{
  width: 12vw;
}

input[type=date] {
  width: 12vw;
}

input[type=submit], [type=date] {
  width: 100%;
  background-color: white;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  cursor: pointer;
}
input[type=submit]:hover {
  background-color: #45A049;
}

 input[type="date"]:before {
    content: attr(placeholder) !important;
    color: #aaa;
    margin-right: 0.5em;
  }
  input[type="date"]:focus:before,
  input[type="date"]:valid:before {
    content: "";
  }

  .navbar {
    background-color: white;
    padding: 30px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: fixed; /* Fixed position */
    top: 0; /* Stick to the bottom */
    width: 100%; /* Full width */
    z-index: 10; /* Ensure it stays on top */
    gap: 1vw;
  }

  .navbar button{
    background-color: #D66565;
    width: 10vw;
    color: white;
  }

  .bottomBar {
    margin-top: 40px;
    font-size: 1rem;
    height: 72px;;
    font-family: 'Trebuchet MS';
    background-color: #658ED6;
    color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .todoItemContainer {
    display: flex;
    width: 40vw;
    justify-content: space-between;
    align-items: left;
    margin-top: 10px;
    padding: 15px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  }

 input[type=checkbox]{
  width: 5vh;
  background-color: #D66565;
  
}
  .titleAndDescriptionContainer {
    margin-bottom: 5px;
  }

.doCatPriorityContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1vw;
}
  .buttonContainer {
    gap: 1vw;
    display: flex;
    justify-content: right;
    flex-direction: column;
  }

  .titleDescriptionDoCatPriorityContainer {
    display: flex;
    flex-direction: column;
  }

.todoTitle{
  font-size: 2rem;
  font-weight: bold;
}

.todoDescription {
  font-size: 1rem;
}

.todoList {
  margin-top: 40px;
  margin-bottom: 120px;
}
